.a {
    width:100%;
    height:750px;
    background-image: url("nathan-shurr-NaqGJ8h0fDc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fixnav {
    position: fixed;
    width:100%;
}
.name {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 800%;
}
.back {
    background-color: #EAFDFC;
}
.login {
    background-color: #FCFFE7;
    height: 175px;
    margin: 2.5%;
    border: 2px solid #146C94;
    border-radius: 15px 50px;
}
.subscripts1 {
    margin:28% auto 0 auto;
    font-family: 'Noto Serif JP', serif;
}
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #146C94;
}
.header {
    margin: 0 8.5% 0 8.5%;
    background-color: #FCFFE7;
    border-radius: 15px;
    border: 2px solid #146C94;
    height: 420px;
}
.notice {
    font-family: 'Noto Serif JP', serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
.noticeboard1 {
    font-family: 'Noto Serif JP', serif;
    height: 250px;
    margin: 0 0.5% 0 3%;
    text-align: justify;
}
.noticeboard2 {
    font-family: 'Noto Serif JP', serif;
    height: 250px;
    margin: 0 0.5% 0 0.5%;
    text-align: justify;
}
.noticeboard3 {
    font-family: 'Noto Serif JP', serif;
    height: 250px;
    margin: 0 3% 0 0.5%;
    text-align: justify;
}
.about {
    margin: 0 20% 0 20%;
    font-family: 'Noto Serif JP', serif;
}
.main {
    height: 180px;
    float: left;
    margin: 0 5% 0 0;
}
.code {
    height: 180px;
    float: right;
    margin: 0 0 0 5%;
}
.team {
    height: 180px;
    float: left;
    margin: 0 5% 0 0;
}
.heading {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    margin:  0.5%;
}
.header2 {
    font-family: 'Noto Serif JP', serif;
    margin: 0 20% 0 20%;
    text-align: justify;
}
.team-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 5% 0 0;
}
.grad1 {
    background-image: linear-gradient(to bottom right,#ECF9FF, #C9EEFF, #97DEFF, #62CDFF);
}
.grad2 {
    background-image: linear-gradient(to bottom left,#ECF9FF, #C9EEFF, #97DEFF, #62CDFF);
}
.grad3 {
    background-image: linear-gradient(to top left,#ECF9FF, #C9EEFF, #97DEFF, #62CDFF);
}